<div class="carousel-slider">
    <div class="tableHeader">

        <table class="carousel-table" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Abg채nge</th>
                </tr>
            </thead>
        </table>
    
    </div>
    
    <div class="tableInhalt">
    
        <table class="carousel-table" cellpadding="0" cellspacing="0" border="0">
    
            <tbody>
                <% for(var i=0; i < (Guru.depotData.abg채nge).length; i++) { %>
                    <tr>
                        <td>Logo</td>
                        <td><%= Guru.depotData.abg채nge[i].name %></td>
                        <td><%= Guru.depotData.abg채nge[i].changes %></td>
                    </tr>
                    <% } %>
            </tbody>
    
        </table>
    
    </div>

</div>
