<div class="main-container">
    <div class="main-header">
        Detailpage
    </div>
    <div class="main-container">
        <div class="main">

            <%= Guru.chartData.totalValues %>;
            <%- include ('_aumchart.ejs') %>
                <div id="aumchart"></div>

        </div>
    </div>
</div>