<div class="main-container">
    <div class="main-header">
     <a class="menu-link-main" href="#">Alle Unternehmen</a>
     </div>

     <%- include ('_tablecontent.ejs') %>


     <!-- <div class = "ui-widget">
        <p>Testphase</p>
        <label for = "autocomplete">Tags: </label>
        <input id = "autocomplete">
     </div>

     <label for="autocomplete">Select a programming language: </label> -->
<input id="autocomplete">